[2017-05-09 08:07] ome450901 opened #1 "Add OnRatingChangeListener"

[2017-05-09 08:08] ome450901 opened #2 "Can't change numStars by programming code dynamic"

[2017-05-12 05:59] walorwang opened #3 "不支持浮点数评分"
不支持浮点数Float评分

[2017-05-12 10:27] #2 closed

[2017-05-12 17:03] ome450901 commented on #3
Thanks for your comment, I will put this feature in my todo list.

[2017-05-15 08:54] #1 closed

[2017-05-23 02:15] wangkelei opened #7 "onTouchEvent处理有点问题"
单击的时候选中项取消了

[2017-05-23 04:17] ome450901 commented on #7
Hello, thanks for your response. I'm working on it and will solve this bug in next release.

[2017-05-25 05:15] ome450901 commented on #7
Hello, if you mean `Click on same rating again will clear rating`, which is one of features in this library~

[2017-05-25 05:15] #7 closed

[2017-05-26 06:04] wangkelei commented on #7
Thanks, I got it~

[2017-05-31 03:38] zhangruize commented on #3
this also means you needs find a way to fill only a part of star image. good challenge

[2017-06-03 14:12] ome450901 commented on #3
Hello @zhangruize @walorwang,
I have found a way to fill only a part of star image,
and this feature will be added into next release.
you can checkout my implementation in `develop` branch first if you are interested!
Thanks!

[2017-06-03 14:23] ome450901 opened #9 "Change drawable bug when no ratings"
When no ratings, will not change the PartialView's ClipDrawable.

[2017-06-04 12:31] #9 closed

[2017-06-07 08:35] aurelhubert opened #10 "Clear rating when selecting the same rating"
Hi,

Thanks for the library, simple but exactly what we need for a rating bar. One small question: is it normal that the rating is cleaned when the user select twice the same rating? I think this behavior is quite a bit strange.
In the `onTouchEvent(MotionEvent event)` method:

[code]
I think the user should decide about this behavior.

[2017-06-07 09:59] ome450901 commented on #10
Hello,

Thanks for your response!
I'll add a method to let user decide whether clearRating when select twice the same rating.

[2017-06-07 11:07] #10 closed

[2017-06-07 11:12] #3 closed

[2017-06-07 14:49] aurelhubert opened #11 "Set SimpleRatingBar lockable"
Hi again,

Last suggestion, you should add a lockable state to just diplay the rating bar & disable the touch event. To do it, just add a parameter:

[code]
In the onTouchEvent:
[code]
And the getter/setter:
[code]
Thanks! 👍

[2017-06-07 15:30] ome450901 commented on #11
Hello,
I just added this feature in newest release(v1.2) hours ago XDD
but still thanks for your suggestion!

[2017-06-07 15:30] #11 closed

[2017-06-09 07:07] JiangShuLiang opened #12 "Failed to resolve: com.github.ome450901:SimpleRatingBar:1.2"
找不到1.2版本的，但是可以找到1.1.2的，奇怪

[2017-06-09 07:50] ome450901 commented on #12
我的 Release Tag 不小心輸入錯誤了
已修正這個錯誤，重新編譯一次就行了
感謝你的提醒！

[2017-06-09 07:50] #12 closed

[2017-06-10 02:03] JiangShuLiang commented on #12
好的，感谢！

[2017-06-27 14:25] desmese opened #13 "StarHeight and StarWidth settings missing"
Hi, Thanks for the library. It is a great alternative to existing RatingBar libraries.
In your README.MD you say it is possible to change the width and height of a star since the v1.2 release.
This was added in this [https://github.com/ome450901/SimpleRatingBar/commit/348a924ad66eb0e9a22ce8eece850c6fb66dae45](348a924)
It doesn't seem to be available anymore in the 1.2 release, or in the latest sou

[2017-06-29 13:00] msalikhov opened #14 "Empty stars hiding after app being hiden"
steps to reproduce:
-fill star with integer value (3.0F for example)
-hide app
-show app
fact: empty stars became invisible

if one will fill stars by 3.5/5 for example - after showing app there will be no bug (all stars are at place)

layout
[code]

activity
[code]

[2017-06-30 13:26] senlsy opened #15 "when it use in recyclerview have some problem"
change PartialView.class resolve
public void setFilledDrawable(Drawable drawable) {
         //new : drawable.getConstantState().newDrawable()
        ClipDrawable clipDrawable = new ClipDrawable(drawable.getConstantState().newDrawable(), Gravity.LEFT, ClipDrawable.HORIZONTAL);
        mFilledView.setImageDrawable(clipDrawable);
    }

    public void setEmptyDrawable(Drawable drawable) {

[2017-07-06 23:12] gsanguinetti commented on #15
I have some problems too when I use it inside a recycler view.

[2017-07-07 07:56] jasonSuzhow opened #17 "同一个页面有EditText的时候, 选择几个,然后点击EditText,没有选择的会消失??"

[2017-07-07 08:04] jasonSuzhow commented on #17
demo 也有这种情况

[2017-07-10 09:51] sparkjin2015 commented on #17
how to do about this?

[2017-07-17 05:43] HRobbie opened #18 "when it use RecyclerView stars ars fade"
Item has 5 rated stars.when you scoll  recyclerView,stars fade.

[2017-08-02 04:12] darwinfrancis opened #19 "Half rating by touch event not working"
I am not able to choose half rating (ex:  2.5,3.5 etc) using touch events, but using java code it works fine.
The default android rating bar provides this feature.
![capture](https://user-images.githubusercontent.com/6102490/28857383-d2631052-7766-11e7-8a3e-ff682a4a2fb7.JPG)

[2017-08-09 01:56] #13 closed

[2017-08-18 12:38] Sirelon opened #20 "Bug with rating"
Great lib! Thanks!
But there is small bug. When you set rounded number as rating (in example 3.0 ) then BaseRatingBar shows three filled stars without others empty stars.
Simple workaround is to set rating with float numbers 2.99 in example

[2017-08-19 01:43] ome450901 commented on #20
Hello @Sirelon ,
Thank you so much!!! Your workaround totally resolve this bug!
Do you know why this bug happened? I have no idea to resolve this problem in a good way several weeks.

[2017-08-19 01:48] ome450901 commented on #19
Hello @darwinfrancis ,
There is still have some bugs in this feature, so I haven't put it into the library.
But I'm working on it, thanks for your response!

[2017-08-19 01:54] ome450901 commented on #15
Hello @senlsy ,
Oh my gosh, I'm too late to see your response!!!
could you tell me why this bug happened? I have find a way to resolve this problem several weeks. orz

Thank you very much for providing this solution!

[2017-08-19 08:23] github-bill commented on #14
ClipDrawable is the key to bug, so you can try to replace it.

[2017-08-19 08:40] Sirelon commented on #20
Hi @ome450901
Nope. I shortly take a look in the code, but cannot find any strange behaviour.
And for now I noticed one new bug, which cannot be fixed with such workaround.
The bug occurs when RatingBar inside ScrollView. When I choose rating, then I tap to edit text (which on scrollview too) then opens keyboard, and scrollview simply scroll down to the edit text. And after this action RatingBar s

[2017-08-19 08:42] Sirelon commented on #20
I think it bug on PartilalView.setPartialFilled(float rating)
I will debug it later.

[2017-08-19 15:47] ome450901 commented on #20
Hello @Sirelon ,
I was found that @senlsy has already provided a solution in issue #15 , and it solve this bug too.
I will check the code to find out why this bug happened, maybe you can take a look with that comment too!

Thanks again for helping me debugging this issue!

[2017-08-19 15:49] ome450901 commented on #14
Hello @msalikhov @github-bill ,
Like @github-bill says, the ClipDrawable is the key point, and I'm working on it.
Thanks for your response!

[2017-08-21 06:59] #14 closed

[2017-08-21 06:59] #15 closed

[2017-08-21 06:59] #17 closed

[2017-08-21 06:59] #18 closed

[2017-08-21 06:59] #20 closed

[2017-08-21 09:52] darwinfrancis commented on #19
Okey.
Can you give me approximate release date for the library with this feature.

[2017-08-22 07:15] ome450901 commented on #19
I have done this feature, but animation is not very smooth for Scale and Rotation RatingBar (it's okay in BaseRatingBar) currently.
I haven't found a better way to solve it. but you still can test this feature in SNAPSHOT version:

[code]

Thanks.

[2017-08-22 10:04] darwinfrancis commented on #19
Thank you, I will give u feedback once I got integrated in app.

[2017-08-23 08:09] Fkut opened #22 "Step size"
How to set step size?

[2017-08-24 01:46] ome450901 commented on #22
Do u mean the step size of touch event?
I haven't implement this feature, but I'll put this feature in my todo list.
Thank you!

[2017-08-24 02:48] AmineNac opened #23 "stars disappear bug"
the stars disappearing bug remains even in the latest version

[2017-08-24 03:12] ome450901 commented on #23
Hello @AmineNac ,
Could you explain some detail about your situation or how to reproduce?
Thank you very much!

[2017-09-01 01:52] k354250377 opened #24 "设置了 setNumStars 就会默认不显示"
求大佬看看

[2017-09-01 04:35] k354250377 commented on #23
我这边也是 在最新的版本星星也不见了

[2017-09-01 05:30] ome450901 commented on #23
Hello @k354250377 ,
可以請你描述一下是在什麼情況下星星會不見嗎？
謝謝！

[2017-09-04 07:25] ome450901 commented on #24
Hello @k354250377 ,
我已經在新的版本（1.3）修正了這個問題，謝謝你的回報！

[2017-09-04 07:25] #24 closed

[2017-09-04 07:26] #22 closed

[2017-09-04 07:26] #19 closed

[2017-09-04 10:05] Sirelon opened #26 "java.lang.NumberFormatException: For input string: "0,57""
at com.willy.ratingbar.BaseRatingBar.calculateRating(BaseRatingBar.java:318)

Hello.
Noticed that crash in the locale, where separator in decimal is comma.
I will prepare pull request for fix it. Thanks.

[2017-09-04 10:11] Sirelon commented on #23
@AmineNac I can confirm that in version 1.3 it was fixed.

[2017-09-06 02:36] ome450901 commented on #26
Hello @Sirelon ,
I really don't know that separator in decimal is different in other country.
Thanks for your help!

[2017-09-06 02:36] #26 closed

[2017-09-07 08:04] Callmebosswang commented on #23
选择了星星以后,跳转到新的Activity, 返回时选中的星星不见了, 选择又可以出来

[2017-09-07 08:05] Callmebosswang commented on #23
@ome450901

[2017-09-07 08:11] Callmebosswang commented on #23
请问我所述的问题在新版中得到解决了吗?

[2017-09-07 08:36] wyy0567 commented on #23
新版本还存在设置star数无效的情况

[2017-09-07 21:05] saefbadwan opened #28 "Different number format in different languages crash"
[code]

[2017-09-07 21:05] saefbadwan commented on #28
java.lang.NumberFormatException: Invalid float: "٠.١٤" that's equal 0.14  ,, the lib is getting number in the locals format, the error happens when clicking on a star

[2017-09-08 06:27] ome450901 commented on #23
Hello @Callmebosswang ,
目前測試上是沒有問題的哦！
若你在新的版本還是有碰到這個bug，麻煩提供一下你的佈局以及操作步驟供參考
謝謝！

[2017-09-08 06:27] ome450901 commented on #23
Hello @wyy0567 ,
可否提供你的操作步驟讓我參考一下呢？

[2017-09-20 06:18] HLFGithub commented on #23
兄弟：
ScaleRatingBar fillRatingBar方法实现有问题。
比如我在一个列表上展示ScaleRatingBar

[2017-09-21 11:24] ome450901 commented on #23
Hello @HLFGithub ,
是否可以描述得更詳細一點呢？謝謝！

[2017-09-22 06:34] iffanmajid opened #30 "Rating Bar Inside RecyclerView"
I implement this rating as items inside recyclerview, but only last item received the value from array. have you ever tried it?

[2017-09-26 08:52] abhilucks93 commented on #30
Same issue here. Found any solution ?

[2017-09-26 09:31] iffanmajid commented on #30
I have not successfully implemented this library as recyclerview items, so for now I change to this https://github.com/techery/ProperRatingBar @abhilucks93

[2017-09-26 10:03] ome450901 commented on #30
Hello @iffanmajid @abhilucks93 ,
I'll try to figure out this problem in this week, thanks you guys!

[2017-10-03 00:24] ome450901 commented on #30
Hello @iffanmajid ,
Do you mean your OnRatingChangeListener not working?
If so , my RecyclerView works fine.

Could you put some of your implementation for me?
Thanks again!

[2017-10-10 09:32] 1277379283 commented on #30
您好，本人非常喜欢您能把这个控件分享出来，这个问题我也遇到过了RecyleView，应该所有星星都有显示，但只显示了 最后一排的星星 。求解决

代码如下：
![qq 20171010173100](https://user-images.githubusercontent.com/13748217/31379461-e5ac7044-ade0-11e7-9b08-a8421739f81c.png)

效果如下：
![qq 20171010173024](https://user-images.githubusercontent.com/13748217/31379479-f3af9266-ade0-11e7-8285-b96a1b0d13d5.png)

[2017-10-11 06:06] vickyramachandra commented on #30
Any update on this @ome450901 ?

[2017-10-12 03:15] ITDreamSKY opened #32 "多个SimpleRatingBar问题"
多个SimpleRatingBar同时使用，rating都设置满的，但是只有最后一个显示是对的，前面的显示都是空的，但rating值是对的

[2017-10-12 03:21] ITDreamSKY commented on #32
ScaleRatingBar

[2017-10-12 03:25] ITDreamSKY commented on #32
@ome450901

[2017-10-12 06:21] ome450901 commented on #30
Hi guys, I have found the problem and trying to repair it.
Sorry I don't have much time to coding. (because my military service orz)
I'll fix this issue in next release ASAP, thank you all for the help.

[2017-10-12 06:23] 1277379283 commented on #30
ok，Thanks a lot brother！！！

[2017-10-12 06:35] ome450901 commented on #32
Hi @ITDreamSKY ,
這個 issue 和 #30 是一樣的哦！
我已經正在處理了，謝謝！

[2017-10-12 06:35] #32 closed

[2017-10-12 06:38] ome450901 commented on #28
Hello @saefbadwan  ,
Sorry reply so late, I haven't seen this Number format orz,
I'll do some research and repair this issue ASAP.
Thanks for your help!

[2017-10-13 02:33] #30 closed

[2017-10-13 02:36] vickyramachandra commented on #30
Awesome .. Thanks :D

[2017-10-20 12:26] lmqwudi opened #33 "if it can show half star when i click?"
if it can show half star when i click?

[2017-10-22 16:07] ome450901 commented on #33
Hello @lmqwudi ,
yes, but you should set the stepSize to 0.5(for example) first,
than you can show the half star by click.

If you got any trouble, please let me know.
Thanks!

[2017-10-22 16:07] #33 closed

[2017-10-25 02:56] lmqwudi commented on #33
Thanks, pretty good

[2017-10-26 02:30] lmqwudi commented on #23
我也碰到了，star有时候消失的bug

[2017-10-26 14:10] ome450901 commented on #23
Hello @lmqwudi ,
可否貼上你的實作方法供參考呢？
謝謝

[2017-11-15 06:10] harshsharma94 opened #35 "View state such as rating is not restored from instance state"
When activity/fragment is recreated, savedInstanceState is not restored for RatingBar.
Cause: Need to save rating state in parcel
How to reproduce: Turn on the flag, "Don't keep activities" in Developer Options.
And revisit sample Activity after setting rating.

I do have a PR which solves this issue.
Can you have a look ?

[2017-11-15 07:09] ome450901 commented on #35
Hello @harshsharma94 ,
Thanks for your help!!
but I don't see any PR, could you send it again?
Thanks!

[2017-11-15 08:14] harshsharma94 commented on #35
PR created.

[2017-11-16 06:26] ome450901 commented on #35
Hello,
I have accepted the PR,
Thanks again for your help!

[2017-11-16 06:26] #35 closed

[2017-11-16 13:03] harshsharma94 opened #38 "Incorrect View state when scrolling fast"
RatingBar does not show correct state when moving over the layout quickly.

![Bug1](https://i.imgur.com/VVjCwSU.gif)

Also while hovering over the layout, if we drag the touch down and then move, it still responds to touch event.

![Bug2](https://i.imgur.com/lQC1a41.gif)

Also, there is no option to disable the scrolling behaviour and just retain the click behaviour.

[2017-11-17 07:23] ome450901 commented on #38
Thanks for your response!
I'll try to find out the bug and implement the feature of disable scrolling behavior.

The second issue, I think that is a appropriate behavior (android original RatingBar has same behavior), so I'll keep this behavior for now.

[2017-11-28 05:50] ome450901 commented on #38
I've fix this issue, thanks for your help!

[2017-11-28 05:50] #38 closed

[2017-11-29 02:15] Jelly0726 opened #40 "在xml中添加出错"
Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean android.os.Handler.postAtTime(java.lang.Runnable, java.lang.Object, long)' on a null object reference
                                                                                at com.willy.ratingbar.ScaleRatingBar.fillRatingBar(ScaleRatingBar.java:69)

[2017-11-29 04:01] ome450901 commented on #40
Hello, thanks for your response.
I've found the problem, I will fix it ASAP.

You can use the previous version(v1.3.3) for now.

[2017-11-29 07:07] ome450901 commented on #40
I'v fix this issue, thanks for help!

[2017-11-29 07:07] #40 closed

[2017-11-30 08:19] kangkangding commented on #23
我刚开始也不出现，去掉app:srb_starPadding="15dp" 这句就出现了

[2017-11-30 08:54] wyy0567 commented on #23
@kangkangding  出现了bug还是出现了星星

[2017-11-30 09:03] wyy0567 commented on #23
@ome450901 是在listview 中复用的情况下。一定概率出现星星消失不显示的情况

[2017-11-30 09:47] kangkangding commented on #23
额，就是星星可以正常显示！没有遇到bug！

[2017-11-30 10:05] ome450901 commented on #23
@wyy0567 可否提供您實作的方式讓我參考一下呢，謝謝！
@kangkangding 感謝回覆！

[2017-11-30 10:25] kangkangding commented on #23
<com.willy.ratingbar.ScaleRatingBar
                    xmlns:app="http://schemas.android.com/apk/res-auto"
                    android:id="@+id/simpleRatingBar"
                    android:layout_width="wrap_content"
                    android:layout_height="wrap_content"
                    app:srb_numStars="5"
                    app:srb_rating="3"
                    app:srb_starWidth="15dp"

[2017-12-01 01:12] wyy0567 commented on #23
@ome450901 <com.willy.ratingbar.BaseRatingBar
            android:id="@+id/rat_reco"
            app:srb_numStars="5"
            app:srb_clickable="false"
            app:srb_starPadding="10dp"
            app:srb_drawableEmpty="@mipmap/score_empt"
            app:srb_drawableFilled="@mipmap/score_o"
            android:layout_centerVertical="true"
            android:layout_width="match_parent"

[2017-12-03 20:31] Alexinzaz opened #42 "Can't inflate view in not UI thread"
If I want inflate view with SimpoleRatingBar in not UI thread I cath exeption:

android.view.InflateException: Binary XML file line #0: Error inflating class com.willy.ratingbar.ScaleRatingBar
   Caused by: java.lang.RuntimeException: Can't create handler inside thread that has not called Looper.prepare()

`Thread {
val page = LayoutInflater.from(activity).inflate(view_pager_department_item, null)

[2017-12-04 02:12] ome450901 commented on #23
Hello @wyy0567  @kangkangding ,
我重現問題了，這禮拜會試著解決，謝謝你們的幫忙！

[2017-12-07 03:42] ome450901 commented on #42
Hello @Alexinzaz ,
because the library needs to control the view's animation, the ScaleRatingBar needs a UI handler to process it.

so maybe you can not inflate view in not UI thread, or if you know any solution, please let me know.
Thanks for your help!

[2017-12-07 03:43] #23 closed

[2018-01-03 06:13] treanow opened #44 "How to change star width in code,not in xml?"
app:srb_starWidth="30dp"
app:srb_starHeight="30dp"

i have some different size , sometimes need app:srb_starWidth="30dp",but sometimes need app:srb_starWidth="20dp",
but i have not found method in code?
![default](https://user-images.githubusercontent.com/13456586/34510598-368b1e2e-f090-11e7-8847-14e71580dcc5.png)

[2018-01-03 06:17] treanow commented on #44
原来是台湾同胞,哈哈,我就是想自定义一个View 包含了你这个控件,不同的尺寸,想动态设置星星的宽度,但是现在是不支持代码动态设置宽度吗?

[2018-01-04 13:09] ome450901 commented on #44
Hello @treanow ,
目前沒有加上這個API , 我之後會找時間加上
謝謝你的回覆！

[2018-01-31 10:13] Sky24n opened #45 "如何RatingBar只展示，不可点击"

[2018-02-02 02:36] ome450901 commented on #45
Hello @Sky24n ,
使RatingBar只能展示有兩種方式

in xml file:
app:srb_isIndicator="true"

in code:
ratingbar.setIsIndicator(true);

若有碰到問題歡迎再詢問我，謝謝

[2018-02-02 02:36] #45 closed

[2018-02-19 17:15] xero88 opened #46 "Set minimum allowed stars"
is there something like that : app:minAllowedStars="1"

[2018-02-22 01:58] ome450901 commented on #46
Hello @xero88,
Thanks for your advice!
I'll add this feature in next release!

[2018-02-26 12:06] ismailtosun opened #47 "How to know rating view is clicking ?"
In recylerview adapter

[code]

in this rate action I want to set new rate holder.ratingView.setRate(4);
but it's show rating value ? why ?

[2018-02-26 12:08] ismailtosun opened #48 "How to clear rating ?"
When I click to rating, I want to clear rating 0. How can I do this ?

[2018-03-01 06:49] ome450901 commented on #48
Hello @ismailtosun ,
Did you mean the feature like the demo?
You can simply set the property `app:srb_clearRatingEnabled="true"` to the RatingBar in xml,
and it's 'true' with default value.

if you got any problems, please let me know.
thanks!

[2018-03-01 06:52] ome450901 commented on #47
Hello @ismailtosun ,

I'm not sure what's your problem,
did you mean the code `holder.ratingView.setRate(4);` doesn't work?

[2018-03-01 14:26] ismailtosun commented on #47
no,I mean when I click the rateview, I want to show an alert dialog.And don't want to let rate.

[2018-03-08 07:05] #46 closed

[2018-03-08 07:06] #44 closed

[2018-03-08 10:13] ccky2008 opened #50 "Set minimum stars not working"
Reproduce the problem:
Add

 to the item_ratingbar.xml in your demo project.
The rating bar in recyclerview can slide to 0.

When i set minimum star programmatically, it works.
Can you test it?  Thanks.

[2018-03-09 12:10] ome450901 commented on #50
I'll check this problem this week, thank you for your comment!

[2018-03-09 13:27] #50 closed

[2018-03-13 06:31] #47 closed

[2018-03-23 07:29] rasik1010 opened #52 "gradle error when allowBackup= false"
Error:Execution failed for task ':app:processDebugManifest'.

  	is also present at [com.github.ome450901:SimpleRatingBar:1.4.0] AndroidManifest.xml:12:9-35 value=(true).
  	Suggestion: add 'tools:replace="android:allowBackup"' to <application> element at AndroidManifest.xml:33:5-281:19 to override.

[2018-03-24 07:35] rasik1010 commented on #52
i got fixed: as bellow:

add in manifest tag
xmlns:tools="http://schemas.android.com/tools"
add tools:node = "replace" in Application tag

[2018-03-24 07:35] rasik1010 commented on #52
i got fixed: as bellow:

add in manifest tag
xmlns:tools="http://schemas.android.com/tools"
add tools:node = "replace" in Application tag

[2018-03-24 07:35] #52 closed

[2018-04-17 09:07] arthur20150522 opened #53 "点击在两个星星中间的空白位置，会返回0"
1、点击在两个星星中间的空白位置，概率会返回0
2、能否加个功能，就是监听只监听最终结果，目前实现的只能点击回调，或者滑动一直回调两种

Thanks♪(･ω･)ﾉ

[2018-04-18 06:05] ome450901 commented on #53
Hello @arthur20150522 ,

謝謝你回報這個問題，我會再找時間盡快修復！
另外能否麻煩你再詳細描述一下第二個功能或是給個例子呢，我沒有很懂這是什麼樣的功能

謝謝！

[2018-05-22 09:39] Ahmeda1708 opened #55 "how to disallow the user to rate ?"
I want to show the current rating that is saved in the database but don't want the user to have the ability to change it

[2018-05-22 09:54] #55 closed

[2018-05-24 01:45] #53 closed

[2018-05-28 08:36] OrientalJew opened #56 "RatingBarUtils.calculateRating泰文环境下崩溃。"
进行该操作：
Float.parseFloat(decimalFormat.format((eventX - partialView.getLeft()) / partialView.getWidth()))
报java.lang.NumberFormatException

DecimalFormatSymbols symbols = new DecimalFormatSymbols();
建议改为：
DecimalFormatSymbols symbols = new DecimalFormatSymbols(Locale.ENGLISH);

不同地区可能有不同的数字格式，比如泰文环境下，๐.๑๔表示0.14

[2018-05-29 00:46] ome450901 commented on #56
@OrientalJew
Thank you, I'll fix this bug in next release.

[2018-05-29 00:50] ome450901 commented on #28
Fix in #56

[2018-05-29 00:50] #28 closed

[2018-06-04 08:47] salmanit commented on #42
The view can post a runnable directly,not need new a Handler.
like this:
postDelayed(runnable,ANIMATION_DELAY);

after use "post" method,you can get handler object  by method getHandler(),if you want to remove some runnable.

[2018-06-07 13:00] ahmaadyunus opened #57 "Rating Cleared onClick item Recyclerview"
Haloo,
I have problem wite scaleratingbar. In my case I set ratingNumStar according position-- (if position 0 numStar = 5, position 1 numStart =4). But, when I clicked item it was cleared the rating to. I don't want in. I want the rating stil freeze. what should I do ?
Here's the code

`public class PopularityAdapter extends RecyclerView.Adapter<PopularityAdapter.PopularityViewHolder> {
    privat

[2018-06-08 10:44] ome450901 commented on #57
Hello @ahmaadyunus
I copy your logic in my demo code and seems work fine.
Maybe you should check your code & xml and make sure you are processing the correct object,
or you take a look with my demo code and try to modify it to what you want.
BTW, you only need to set the attribute `isIndicator` to true to achieve this feature.

![image](https://user-images.githubusercontent.com/8210998/41154077-82

[2018-06-12 05:42] #57 closed

[2018-07-13 07:13] ome450901 commented on #56
Hello @ayham95
Sorry that I've been busy these days, I have already release the new version.
thank you!

[2018-07-13 07:13] #56 closed

[2018-07-23 12:18] Mina-Mikhail opened #59 "Issue with recyclerView"
I have an issue when use this library inside recyclerView.

This is my item:
`<?xml version="1.0" encoding="utf-8"?>
<LinearLayout
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:orientation="vertical"

  <LinearLayout
      android:lay

[2018-07-25 07:10] ome450901 commented on #59
Hello @Mina-Mikhail,
You need to handle the `onRatingChange` event to update your list(arrayDetails) value,
for example:

[code]

if still can't solve this problem, please let me know, thanks!

[2018-07-25 08:35] Mina-Mikhail commented on #59
Hello @ome450901
I think i didn't need to implement `onRatingChange` , because i use rating bar to show rate amount only, and it not Clickable ?? why use  `onRatingChange`

[2018-07-25 08:42] Mina-Mikhail commented on #59
![37808086_1825454057546907_258650395218280448_n](https://user-images.githubusercontent.com/17712116/43189488-f9e38482-8ff6-11e8-8d6a-bbcaaa1a63a9.jpg)

This is the case, i use the library to display amount of rate only, the first comment have 1 star and second have 3 stars, when i scroll down to see other comments and back again to top , the stars was cleared. and first , second other comments ha

[2018-07-25 12:50] ome450901 commented on #59
Sorry, I misunderstood the problem.
I find out the problem is `holder.placeRateAmount.setNumStars(5);`
because it will remove all views and regenerate it, so the rating will be cleared.

seems your Num of Stars won't change at all, so I think you should set this value in XML not in the `onBindViewHolder`.

just modify your xml to the following code and remove  `holder.placeRateAmount.setNumStars(5

[2018-07-31 08:26] Swwwifty opened #60 "Scroll rating bar"
I have a problem with scroll in recyclerview.

If I start scroll event from ratingbar then fires *OnRatingChangeListener*
Is it possible to set rating only on click event, but not scroll? Thanks!

[2018-07-31 11:04] #59 closed

[2018-07-31 11:07] ome450901 commented on #60
Hello @Swwwifty ,

You can try to set the following value to disable scroll event:
`app:srb_scrollable="false"` or `ratingbar.setScrollable(false);`

Hope this works for you.

[2018-07-31 11:50] Swwwifty commented on #60
Thanks for the answer. It works, but it's partial solution. I want to save scroll works, but handle only clicks.
Now I think that I can handle with it with different *onTouch motion actions*

[2018-07-31 11:50] #60 closed

[2018-08-09 08:19] nurjan84 opened #61 "data binding - two way binding error"
android:rating="@={estimateViewModel.rating}"

[kapt] An exception occurred: android.databinding.tool.util.LoggedErrorException: Found data binding errors. ****/ data binding error ****msg:Cannot find the getter for attribute 'android:rating' with value type java.lang.Integer on com.willy.ratingbar.ScaleRatingBar.

[2018-08-10 00:43] ome450901 commented on #61
Hello @nurjan84 ,

Maybe you should use `app:srb_rating`, not `android:rating`
I haven't try it on data binding, so if there still have problem, please tell me.
Thank you.

[2018-08-10 04:15] nurjan84 commented on #61
Hello! Same error with `app:srb_rating`

[kapt] An exception occurred: android.databinding.tool.util.LoggedErrorException: Found data binding errors. ****/ data binding error ****msg:Cannot find the getter for attribute 'app:srb_rating' with value type java.lang.Float on com.willy.ratingbar.ScaleRatingBar.

[2018-08-14 13:45] ome450901 commented on #61
Hi,
Sorry that I've been a little bit busy these days,
I'll try to find out the problem when I have more free time.
Thank you for issue this problem!

[2018-09-04 08:38] LSDsl opened #62 "match_parent not work"
When set layout_width to match_parent stars not use all width. Expectation - it add spaces between stars to use all width. Is it possible?

[2018-09-08 23:11] maxi182Eman opened #63 "Recyclerview item, rating disappear"
In the first load of the adapter, the item has a num of rating selected, its flicker to the qty and dissapear to unselected..

[2018-09-18 22:00] oky2abbas opened #64 "crash report in fabric"
Hello . **fabric** gave me the following error message that is related to your library.
Apparently this problem has been reported on the **HTC One A9** mobile phone with the **android 6** operating system.

**what's wrong ?**

[code]

[2018-09-20 07:37] vonions opened #65 "禁止星星转动的动画"

[2018-09-23 04:41] ome450901 commented on #65
Hello @vonions,
請問是希望可以禁止星星轉動嗎？

[2018-09-23 04:46] ome450901 commented on #63
Hi @maxi182Eman,

Could you show me a part of your code or a recored video to let me more understand about this issue?

thank you!

[2018-09-23 04:46] ome450901 commented on #62
Hi @LSDsl,

Thanks for issue this feature, I'll try it recently.

[2018-09-23 04:52] ome450901 commented on #64
Hi @dfmabbas,

Thanks for issued this bug, I'll figure this out ASAP.

[2018-09-25 07:53] vonions commented on #65
是的，怎么禁止星星转动

[2018-09-25 08:02] ome450901 commented on #65
BaseRatingBar 就是沒有任何動畫的，請問你目前是使用這個嗎？

[2018-09-25 08:09] vonions commented on #65
我用的  RotationRatingBar， 我替换成BaseRatingBar就好了，谢谢 ！

[2018-09-25 08:09] #65 closed

[2018-11-22 02:43] StevenZhang1125 opened #66 "线上收集到的崩溃日志"
你好 @ome450901 ，在使用你的控件过程中出现了这个问题。设备是OPPO R11s Plus，系统版本7.1.1
这个是什么原因导致的呢？

android.view.InflateException: Binary XML file line #49: Binary XML file line #49: Error inflating class com.willy.ratingbar.ScaleRatingBar
Caused by: android.view.InflateException: Binary XML file line #49: Error inflating class com.willy.ratingbar.ScaleRatingBar
Caused by: java.lang.reflect.InvocationTargetException
    a

[2018-12-03 03:47] xuxinjiang opened #67 "你好"
想问下怎么设置它不可以评价，不可点击？？

[2018-12-04 13:10] ome450901 commented on #67
Hello @xuxinjiang,

- In xml file
`app:srb_isIndicator="true"`

- In code
`ratingbar.setIsIndicator(true);`

[2018-12-04 13:10] #67 closed

[2018-12-05 06:58] ome450901 commented on #55
Hi @hvlong
Please take a look at #67
Thanks

[2019-02-11 13:17] ShahabGT opened #68 "setOnRatingChangeListener infinate loop"
Hello, there is a big flow with this library (at least i think so).
my app has a rating system that you can rate a shop from 1 to 5 stars.
the problem is on setOnRatingChangeListener i want to send the selected rate to a server and refresh the rating bar with the received data from the server. so when it happens the setOnRatingChangeListener will trigger and it becomes an infinite loop.
ps. in and

[2019-02-18 07:51] ome450901 commented on #68
Hi @ShahabGT,
Thanks for raising the issue, I'll put this into TODO list.

[2019-02-23 22:14] android4canada opened #69 "Editor shows all stars as empty"
Hello
If I use the xml (even using the xml snippet you posted on the website), then Android studio does not show the stars filled. It shows all of them as empty. Maybe it works in the run time but not in the editor?

[2019-03-05 04:29] ome450901 commented on #69
Hello @android4canada ,
Yes, it's only works in run time not in the editor now.

[2019-03-05 04:29] #69 closed

[2019-03-14 01:18] xuxinjiang opened #70 "《请问为什么没有任何效果》QQ478104175"
<com.willy.ratingbar.BaseRatingBar
                            android:id="@+id/baseRatingBar1"
                            android:layout_width="wrap_content"
                            android:layout_height="wrap_content"
                            app:srb_clearRatingEnabled="true"
                            app:srb_clickable="true"
                            app:srb_drawableEmpty="@drawable

[2019-03-14 01:18] xuxinjiang commented on #70
我改的图片根本设置不进去？

[2019-03-14 10:18] ome450901 commented on #70
Hi @xuxinjiang ,
我這邊測試是正常的，能請你提供你使用的圖片嗎

[2019-03-29 10:30] jcholin commented on #68
Hi @ome450901,
Any hope to have a new release with this fix? thx

[2019-03-30 09:23] #70 closed

[2019-04-01 09:49] ome450901 commented on #68
Hi @jcholin ,
Just released 1.4.3 to fix this issue, thanks.

[2019-04-01 09:49] #68 closed

[2019-04-01 09:50] #66 closed

[2019-04-02 05:30] #64 closed

[2019-04-02 05:31] #42 closed

[2019-04-02 05:32] #63 closed

[2019-04-08 10:39] Meqdadi opened #72 "no RTL support"
when swiping on rating control with RTL screen the behaviour is not performing correctly as LTR screen

[2019-04-24 01:14] ome450901 commented on #72
Hi @Meqdadi,
Thanks for raising this issue, I'll have a look.

[2019-05-04 16:42] quang2415 opened #73 "How to not change star when clicked ?"
I set clickable = "false" but nothing happen.

[2019-05-04 16:45] #73 closed

[2019-05-04 16:45] quang2415 commented on #73
Found it, #67. Tks man

[2019-05-30 12:56] vandanabpatel opened #74 "Issue with scrolling - when recyclerview horizontally LinearLayoutManager.HORIZONTAL"
while scrolling rating is not displaying

code is=========
rvReview.setLayoutManager(new LinearLayoutManager(mActivity, LinearLayoutManager.HORIZONTAL, false));

adapter===
rbRating.setNumStars(object.getRatings().getRating());
rbRating.setRating(object.getRatings().getRating());

xml===
<com.willy.ratingbar.BaseRatingBar
android:id="@+id/rb_rating"
android:layout_width="wrap_content"
android:layo

[2019-10-16 06:22] ziqianghe opened #76 "可以控制半颗星的倾斜度吗？"
setRight  只能int？

[2019-10-17 06:23] ome450901 commented on #76
@ziqianghe Hello, 不是很懂你說的傾斜度，方便截個圖嗎？
謝謝

[2019-11-12 02:40] xxh3145987 opened #77 "希望可以支持渐变功能"
或者单独设置每个item的贴图，颜色

[2019-11-22 09:31] xxh3145987 opened #78 "如果在recyclerview中使用，notifydatasetchanged之后，已选选项会消失"

[2019-12-03 10:05] alonfi commented on #62
Hi @ome450901, did you get a chance to look into the match_parent issue?
Setting a fixed srb_starPadding causes the stars to be cut off if the screen is not wide enough to contain the total width of the stars and their set padding. It would be convenient if the padding would be dynamic and change according to the parent's width.

In addition, it would be nice if different starPadding values could

[2019-12-05 23:55] ome450901 commented on #62
Hi @alonfi
Sorry I haven't started working on it yet,  it's quite busy at the moment.
Thanks for the suggestion though, I'll try to have a look over the weekend.

[2019-12-07 06:30] ome450901 commented on #78
Hello @xxh3145987
不確定你的使用情境，不過通常你需要有一個 List 去記錄你的星星個數
因為 Recyclerview 會把已經看不見的 View recycle 回來重新使用
所以你需要在綁定 View 時把值設定給 RatingBar ，這樣星星的狀態才不會消失

[2019-12-07 06:30] #78 closed

[2019-12-07 06:30] #76 closed

[2019-12-09 06:07] ome450901 commented on #62
[Fixed commit](https://github.com/ome450901/SimpleRatingBar/commit/42957482f366b583ca446f83867289cdb05b4834)

[2019-12-11 12:06] kochchy commented on #74
hello. just call
`layoutBinding.rbRating.setRating(0);
`before
`layoutBinding.rbRating.setRating(object.getRatings().getRating());
`

[2019-12-14 03:55] #62 closed

[2019-12-18 23:13] stateman92 opened #80 "gradle cannot resolve implementation"
I cannot implement it neither from here, nor from the official jitpack.io page. The following is the error:

ERROR: Failed to resolve: com.github.ome450901:SimpleRatingBar:1.5.0

[2019-12-18 23:23] stateman92 commented on #80
It finally works, sorry, it was my fault.

[2019-12-18 23:23] #80 closed

[2020-01-06 13:04] ankathiriya opened #81 "Not able to disable change rating"
I have set this layout :
 <com.willy.ratingbar.ScaleRatingBar
            android:id="@+id/ratingBar"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            app:srb_clearRatingEnabled="false"
            app:srb_clickable="false"
            app:srb_drawableEmpty="@drawable/ic_star_empty"
            app:srb_drawableFilled="@drawable/ic_star_fi

[2020-01-09 00:32] ome450901 commented on #81
@ankathiriya hello, you need to set the "app:srb_isIndicator" to true.

[2020-01-09 00:32] #81 closed

[2020-01-13 07:57] LeeIGitHub opened #82 "希望将srb_starPadding与View的padding分开"
目前的srb_starPadding一旦设置，第一颗行星的左边和上面也会加上padding

不知道我的理解对不对，应该是下面这段代码负责，我尝试重写，但却失败了

（com.willy.ratingbar.BaseRatingBar）
@Override
    public void setStarPadding(int ratingPadding) {
        if (ratingPadding < 0) {
            return;
        }

        mPadding = ratingPadding;

        for (PartialView partialView : mPartialViews) {
            partialView.setPadding(mPadding, mPadding, mPadding,

[2020-01-20 06:19] pawankumar191219 opened #83 "how to use databing onRatingChanged"
how can i apply databinding onRatingChanged listener ?

[2020-03-26 08:25] AminEsmaeily opened #84 "Star padding problem at runtime"
I have a layout view like this:
[code]
At design-time it shows perfectly:
![Capture](https://user-images.githubusercontent.com/11803924/77624926-40a01d00-6f60-11ea-81e1-584dc29ff93d.PNG)

but at runtime, the stars arrange without considering the `starPadding` property and they stretch to fill the parent:
![Screenshot_1585210330](https://user-images.githubusercontent.com/11803924/77624943-48f85800-

[2020-04-26 22:18] MoustafaElsaghier opened #85 "Crash on some devices: BaseRatingBar.java line 90"
I've a lot of issue reports on firebase saying

Fatal Exception: android.view.InflateException
Binary XML file line #88: Error inflating class com.willy.ratingbar.ScaleRatingBar
android.view.LayoutInflater.createView

android version:5
device type: Vivo

the only thing I feel not ok is device is rooted, check image, https://prnt.sc/s6e9rn

is that could be the issue?

[2020-08-07 12:51] mmalek95 commented on #83
[code]

and then in xml:
`app:rating="@={viewModel._rating}"`

[2020-08-08 00:18] WilliamYuTW commented on #83
@mmalek95 Thanks for helping!

[2020-08-08 00:18] #83 closed

[2020-08-08 09:17] bean-liu commented on #61
add ScaleRatingBarBindingAdapter.java to your project
`import android.widget.RatingBar;

import androidx.databinding.BindingAdapter;
import androidx.databinding.InverseBindingListener;
import androidx.databinding.InverseBindingMethod;
import androidx.databinding.InverseBindingMethods;

import com.willy.ratingbar.BaseRatingBar;
import com.willy.ratingbar.ScaleRatingBar;

@InverseBindingMethods({

[2020-08-10 07:41] mmalek95 commented on #72
sadly, for now there is no built in sollution in library but you can try to rotate view, it seems to be working fine

[code]

[2020-08-21 09:58] vinchenson opened #87 "Cannot resolve symbol 'start_empty'"
Where are those drawables? They did not get imported. Thanks.

edit: Ended up fixing it providing my own star drawable files. Thanks.

[2020-08-21 10:17] vinchenson opened #88 "How to disable half punctuations?"
Hello, how can I set the ratingbar so it only lets users to select raw 1,2,3,4,5 stars instead of 1 and a half, two and a half, etc?

Thanks!

[2020-08-21 10:17] #87 closed, assigned to nobody

[2020-08-21 10:33] vinchenson opened #89 "Listener not working on DialogFragment"
Hello again, I have this code on a dialog fragment:

ScaleRatingBar ratingBar = new ScaleRatingBar(requireContext());
        ratingBar.setNumStars(5);
        ratingBar.setMinimumStars(1);
        ratingBar.setRating(3);
        ratingBar.setStarPadding(5);
        ratingBar.setStepSize(0.5f);
        ratingBar.setStarWidth(105);
        ratingBar.setStarHeight(105);
        ratingBar.setIsIndica

[2020-08-22 02:08] #88 closed, assigned to nobody

[2020-09-08 07:59] WillSmith0 opened #90 "i Found this error"
Failed to resolve: com.github.ome450901:SimpleRatingBar:4.2.3
Show in Project Structure dialog
Affected Modules: app

[2020-12-10 02:24] hedongBlog opened #91 "一开始一颗星，变为三颗星之后，无法再次点击返回原来的一颗星"

[2020-12-10 03:10] WilliamYuTW commented on #90
@WillSmith0  Hi, the latest version is 1.5.0

[2020-12-10 03:10] #90 closed

[2020-12-13 17:29] azri92 opened #92 "Step size not working"
Hi,

I have the following properties set:
[code]

Even from preview, it can be observed that the stepSize is not being respected when rating is set. I wonder if something broke #86.

Using version `1.5.0`.

[2020-12-14 02:05] WilliamYuTW commented on #92
Hi @azri92
From your code snippet, the stepSize is `1.0` but the rating is `2.3`, which will cause the floating number being cut off.
You should probably set the stepSize to `0.1`.

Cheers

[2020-12-14 03:37] azri92 commented on #92
Hi @WilliamYuTW,
I actually want the step size to be 1. I put 2.3 there to see that the view only shows 2 stars. Currently, it's showing 2.3 stars even though step size is 1.0.

[2020-12-14 10:43] WilliamYuTW commented on #92
@azri92
Thanks for this! It's a bug indeed.
I'll release a fix quickly.

[2020-12-14 10:48] #92 closed

[2021-05-06 08:04] grrigore commented on #89
I'm having the same problem. Any fixes?

[2021-12-07 09:17] MahyoHassan opened #94 "Can not be not-clickable"
I am trying to show it in a RecyclerView as a view (not editable) but its not working , i tried those attributes but none of them worked
 android:focusable="false"
 android:clickable="false"
 android:isIndicator="true"
 android:focusableInTouchMode="false"
app:srb_clickable="false"
I also tried (ratingBar.setFocusable (false)) from the code and it still no changes

[2021-12-20 11:54] farfalletonde opened #95 "Scrolling works, but clicking does not"
I tried implementing this view. Although scrollable attribute works, clicking does not seem to work on my project. (I am using the latest version) This is my code:

        <com.willy.ratingbar.ScaleRatingBar
                android:id="@+id/rating"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"
                app:srb_drawableEmpty="@drawa

[2022-02-11 06:33] LittleYellowFish commented on #94
set "app:srb_isIndicator="true"",not "android:isIndicator="true""

[2022-09-26 08:54] puneet-practeon opened #96 "Callback is getting triggered on rating change while the user has his finger on screen."
### Explanation:
Based on the Android Rating Bar, they managed to stop the callback trigger while the user is still dragging on the rating bar. Once the user takes off his finger, then the callback is triggered with the updated rating.

### Why is it raised?
This issue is for scenarios where the flow is based on the Rating Bar listener and not on a submit button.